*{
   text-decoration: none;
   list-style: none;
}

.nav-content{
   display: flex;
 }
 .navbar{
   
   margin: 0;
 }
 .nav-list ul li{
    text-decoration: none;
    list-style: none;
 }
.navbar .nav-content .nav-list {
  text-decoration: none;
  color: green;
  background: blue;
}